PinGenerationSOA/PinGenerationProject/xsd/bpelresponse.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.example.org"
            targetNamespace="http://www.example.org"
            elementFormDefault="qualified">
  <xsd:element name="bpelresponse">
   <xsd:complexType>
   <xsd:sequence>
   <xsd:element name="ordernumber" type="xsd:int"/>
   <xsd:element name="approved" type="xsd:string"/>
   </xsd:sequence>
   </xsd:complexType>
  </xsd:element>
</xsd:schema>
