LBProject/WSDL/XMLSchema_607956299.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://sample.lb.thegreyhope.co.za/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sample.lb.thegreyhope.co.za/">

<xs:element name="getLBResponse" type="tns:getLBResponse"/>

<xs:element name="getLBResponseResponse" type="tns:getLBResponseResponse"/>

<xs:complexType name="getLBResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLBResponseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>