RoutingOrders/WSDL/XMLSchema_-1147695334.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://sample.thegreyhope.co.za/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://sample.thegreyhope.co.za/">

	<xs:element name="approveOrder" type="tns:approveOrder" />

	<xs:element name="approveOrderResponse" type="tns:approveOrderResponse" />

	<xs:complexType name="approvalResponse">
		<xs:sequence>
			<xs:element name="approvalMessage" type="xs:string"
				minOccurs="0" />
			<xs:element name="approvalNumber" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="order">
		<xs:sequence>
			<xs:element name="item" type="xs:string" minOccurs="0" />
			<xs:element name="value" type="xs:long" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="approveOrder">
		<xs:sequence>
			<xs:element name="arg0" type="tns:order" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="approveOrderResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:approvalResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>