MarriageStatusProject/WSDL/XMLSchema_-1729846573.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://sample.id.thegreyhope.co.za/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://sample.id.thegreyhope.co.za/">

	<xs:element name="getMarriageID" type="tns:getMarriageID" />

	<xs:element name="getMarriageIDResponse" type="tns:getMarriageIDResponse" />

	<xs:complexType name="getMarriageID">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getMarriageIDResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:long" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>