MarriageStatusProject/WSDL/XMLSchema_-138908250.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://sample.mid.thegreyhope.co.za/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://sample.mid.thegreyhope.co.za/">

	<xs:element name="getMarriageStatus" type="tns:getMarriageStatus" />

	<xs:element name="getMarriageStatusResponse" type="tns:getMarriageStatusResponse" />

	<xs:complexType name="getMarriageStatus">
		<xs:sequence>
			<xs:element name="arg0" type="xs:long" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getMarriageStatusResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>